@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* common-css */
  img {
    width: 90%;
  }
  h1 {
    font-size: 27px;
  }
  p {
    font-size: 17px;
    line-height: 25px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
  }
  /* header */
  .title {
    font-size: 17px;
    color: #fff;
    width: 5%;
    margin: 0;
  }
  .title-span {
    font-size: 22px;
  }
  nav {
    padding: 20px 20px;
  }
  .fa-bars {
    font-size: 20px;
    display: block;
  }
  ul li {
    display: none;
  }
  /* banner */
  .banner {
    padding: 150px 0;
    text-align: center;
  }
  /* discovering-section */
.discovering-content {
  justify-content: center;
  margin-left: 10px;
}
.contents {
  background-color: rgba(255, 176, 39, 1);
  padding: 30px 20px;
  width: 700px;
  height: auto;
  margin: 100px 20px;
}
.contents h1 {
  width: 100%;
  font-size: 25px;
  margin: 0;
}
.contents p {
  font-size: 14px;
  line-height: 22px;
 
}
.contents button {
  margin: 5px 0;
}

/* ecosystem-services-section */
.ecosystem-services-container{
  width: 100%;
  text-align: start;
}
.services-contents{
  display: flex;
  justify-content: flex-end;
  padding: 100px 20px;
}
.services-texts{
  width: 100%;
}
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  /* common-css */
  img {
    width: 90%;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 19px;
    line-height: 25px;
  }
  /* header */
  .title {
    font-size: 20px;
    color: #fff;
    width: 5%;
    margin: 0;
  }
  .title-span {
    font-size: 25px;
  }
  nav {
    padding: 20px 20px;
  }
  .fa-bars {
    font-size: 25px;
    display: block;
  }
  ul li {
    display: none;
  }
  /* banner */
  .banner {
    padding: 150px 0;
    text-align: center;
  }

  /* discovering-section */
.discovering-content {
  justify-content: end;
  margin-left: 40px;
}
.contents {
  padding: 30px 20px;
  width: 700px;
  height: auto;
  margin: 180px 20px;
}
.contents h1 {
  width: 80%;
  font-size: 35px;
  margin: 0;
}
.contents p {
  font-size: 16px;
  line-height: 25px;
 
}
.contents button {
  margin: 5px 0;
}
/* ecosystem-services-section */
.ecosystem-services-container{
  width: 100%;
  text-align: start;
}
.services-contents{
  display: flex;
  justify-content: flex-end;
  padding: 100px 20px;
}
.services-texts{
  width: 100%;
}

}
